/* Estilos para o rótulo do checkbox personalizado */
.customCheckbox {
  display: inline-block;
  position: relative;
  padding-left: 10px; /* Espaço para o círculo de seleção personalizado */
  font-size: 16px;
  cursor: pointer;
}

/* Estilos para o input de checkbox real (oculto) */
.customCheckbox input[type="checkbox"] {
  display: none; /* Oculta o input de checkbox padrão */
}

/* Estilos para o marcador de seleção personalizado */
.checkmark {
  position: absolute;
  top: 2px; /* Ajuste vertical para centralizar */
  left: 0;
  height: 20px;
  width: 20px;
  border: 2px solid var(--blue); /* Cor da borda azul */
  border-radius: 50%; /* Borda redonda para criar o check redondo */
  background-color: transparent; /* Fundo transparente */
}

/* Estilos para o marcador de seleção quando o checkbox está marcado */
.customCheckbox input[type="checkbox"]:checked + .checkmark {
  background-color: var(--blue); /* Cor do fundo branco */
}
