.wrapper {
  display: grid;
  grid-template-rows: 54px 1fr;
  gap: 2rem;
}
.tasksList {
  display: grid;
  grid-template-rows: 19px 1fr;
  gap: 24px;
}
.taskForm {
  display: grid;
  grid-template-columns: 6.93fr 1fr;
  gap: 8px;
}
.taskForm button:hover {
  background: var(--blue);
}
.statusBar {
  display: flex;
  justify-content: space-between;
}
.statusBar div span {
  display: inline-block;
  padding: 2 px;
  background: var(--gray-400);
  color: var(--gray-200);
  font-size: var(--small-font);
  font-weight: bold;
  border-radius: 8px;
}
.taskForm input {
  background: var(--gray-500);
  outline: 0;
  color: var(--gray-100);
  border: 0;
  padding-left: 1rem;
  border-radius: 8px;
}
.taskForm input::placeholder {
  color: var(--gray-300);
  font-size: var(--big-font);
  padding-left: 1rem;
}
.taskForm button {
  text-align: center;
  background: var(--blue-dark);
  border: 0;
  column-gap: 8px;
  color: var(--gray-100);
  border-radius: 8px;
  font-weight: bold;
  display: flex; /* Torna o botão um flex container */
  align-items: center;
  justify-content: center; /* Centraliza os itens verticalmente */
}
.tarefaConcluida {
  color: var(--blue);
}
.concluida {
  color: var(--purple);
}
.taskBoard {
  border-top: 1px solid var(--gray-400);
  display: flex;
  min-height: 267px;
  row-gap: 12px;
  flex-direction: column;
}
