.wrapper {
  display: grid;
  margin: 2rem auto;
  grid-template-columns: 1fr;
  gap: 2rem;
  align-items: start;

}
.wrapper main{
    display: flex;
    justify-content: center;
    align-items: center;
}
