.wrapper {
  margin: 0 auto;
  align-items: start;
}
.wrapper main {
  max-width: 46rem;
  margin: 0 auto;
}
@media (max-width: 768px) {
  html {
    /* 14px */
    font-size: 87.5%;
  }
  .wrapper main {
    width: 100%;
  }
}
